/* toastStyles.css */
@media (max-width: 576px) {
    .Toastify__toast-container {
      width: 250px !important; /* Reduce width */
      font-size: 12px !important; /* Smaller font */
    }
  
    .Toastify__toast {
      padding: 16px !important;
      min-height: 40px !important;
    }
  
    .Toastify__toast-body {
      font-size: 12px !important;
    }
  
    .Toastify__close-button {
      width: 16px !important;
      height: 16px !important;
    }
  }
  